@{
    ViewBag.Title = "Membership";
    Layout = ViewBag.Layout;
}

@section styles{
    <style>
        .first-group,
        .second-group {
            padding: 20px;
        }

        .second-group {
            background-color: rgba(191, 191, 191, 0.15);
        }

        .form-avatar {
            height: 160px;
            width: 160px;
            margin-right: 10px;
            border: 1px solid #d2d3d5;
            border-radius: 50% !important;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
}

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="@ViewData["Icon"]"></i> <a>Membership</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#" onclick="MemberUtils.fnew()" class="btn default">New</a>
                </li>
                <li>
                    <a href="#" id="form_submit" onclick="MemberUtils.fsubmit()" class="btn default">Submit</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a data-toggle="modal" href="#uploaddiv" class="btn default">Upload Photo</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="Context">
    <div class="row">
        <div id="member-id-box"></div>
    </div>
    <div class="row">
        <div id="form" class="dx-form" style="margin-bottom: 10px;"></div>
    </div>
</div>

<div class="modal fade bs-modal-lg" id="uploaddiv" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Upload Photo</h4>
            </div>
            <div class="modal-body">
                <div id="photo-uploader"></div>
                <span class="note">Allowed file extensions: <span>JPG ONLY</span>.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@Html.Hidden("forminit", Url.Action("LoadData", "Membership"))
@Html.Hidden("checkid", Url.Action("IsIDAvailable", "Membership"))
@Html.Hidden("photoload", @Url.Action("Upload", "Membership", new { name = "{PARAM1}" }))
@section scripts{
    <script src="~/Scripts/global/DevDXForm.js"></script>
    <script src="~/Areas/AdministrationPage/Scripts/common-config.js"></script>
    <script src="~/Areas/AdministrationPage/Scripts/membership.js"></script>

}
