@{
    ViewBag.Title = "Manage User Roles";
}
<div>
    <p>&nbsp;</p>
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Roles", "RoleIndex")

    <h3>Add role to user</h3>
    @using (Html.BeginForm("RoleAddToUser", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="message-success" style="font-size: 150%; font-style: italic">@ViewBag.ResultMessage</div>
        <p>
            Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
            Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
        </p>

        <input type="submit" value="Save" />
    }

    <h3>Remove role from user</h3>
    @using (Html.BeginForm("DeleteRoleForUser", "Manage"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
            Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
        </p>

        <input type="submit" value="Delete this user from Role" />
    }

    <h3>List roles for user</h3>
    @using (Html.BeginForm("GetRoles", "Manage"))
    {
        @Html.AntiForgeryToken()
        <p>
            Username : @Html.DropDownList("UserName", ViewBag.Users as SelectList)
            <input type="submit" value="Get Roles for this User" />
        </p>
    }

    @if (ViewBag.RolesForThisUser != null)
    {
        <text>
            <h3>Roles for this user </h3>
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        </text>
    }
</div>