@model List<Core.Services.DTO.SystemPage.TokenStatusDTO>
<table id="myTable" class="table table-striped table-bordered" onload="BindTable">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                FileFullName
            </th>
            <th>
                Setting_PK
            </th>
            <th>
                PK
            </th>
            <th>
                insert_user
            </th>
            <th>
                insert_date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.FileFullName
                </td>
                <td>
                    @item.Setting_PK.ToString();
                </td>
                <td>
                    @item.Setting_PK.ToString()
                </td>
                <td>
                    @item.insert_user
                </td>
                <td>
                    @item.insert_date
                </td>
            </tr>
        }
    </tbody>
</table>
